
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/datepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/OverlayScrollbars.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/icofont.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/slick-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/slider-range.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/tippy.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">

    {% endblock %}


    <!-- ==================End Css Link===================== -->
</head>
<body>
<center>
    <h1>la liste des depots</h1>
    <table   border="1">
        <tr>
         <th>Id_livraison</th>
             <th>Date_livraison</th>
             <th>Prix_total</th>
           <th>Mode_paiement</th>
   <th>Id_livreur</th>
        <th>Id_commande</th>
             <th>Id_client</th>

        </tr>
        {% for livraison in livraisons  %}
            <tr>
                <td>
             {{ livraison.IdLivraison }}
                </td>
                <td>
              {{ livraison.DateLivraison ? livraison.DateLivraison|date('Y-m-d') : '' }}
                </td>
                <td>
           {{ livraison.prixTotal }}
                </td>

<td>
{{ livraison.modePaiement }}
</td>
               <td>{{ livraison.IdLivreur }}</td>
               <td>{{ livraison.IdCommande }}</td>
                 <td>{{ livraison.IdClient }}</td>
                <td><a href="{{ path('delliv',{'id': livraison.IdLivraison}) }}"> <button type="button" class="btn btn-outline-danger" ><font size="3pt" >{% trans %}Delete{% endtrans %}</font></button></a>
                </td>
                </td>
                <td><a href="{{ path('modliv',{'id': livraison.IdLivraison}) }}"> <button type="button" class="btn btn-outline-danger" ><font size="3pt" >{% trans %}Update{% endtrans %}</font></button></a>
                </td>
            </tr>
        {%endfor%}
    </table>
    <div>

        <td><a href="{{path('addliv')}}"> <button type="button" class="btn btn-outline-danger" ><font size="3pt" >{% trans %}Ajouter{% endtrans %}</font></button></a>
    </div>
</center>
</body>
</html>

