

{% extends 'Bbase.html.twig' %}
{% block body %}
 <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">la liste des livraisons</h4>

                     {%  for message in app.flashes ('info')  %}
                    <div class= "alert alert-success">
                    {{ message }}
                    </div>
                    {% endfor %}


                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                             
                             <th>Date livraison</th>
                             <th>Prix total</th>
                             <th>Mode paiement</th>
                             <th> livreur</th>
                             <th>Id commande</th>
                             <th>Id client</th>
                          </tr>
                        </thead>
                        <tbody>
                          </tr>
        {% for livraison in livraisons  %}
            <tr>
                
                <td>
              {{ livraison.DateLivraison ? livraison.DateLivraison|date('Y-m-d') : '' }}
                </td>
                <td>
           {{ livraison.prixTotal }}
                </td>

<td>
{{ livraison.modePaiement }}
</td>
               <td>{{ livraison.IdLivreur.secteuractivite }}</td>
               <td>{{ livraison.IdCommande }}</td>
                 <td>{{ livraison.IdClient }}</td>
                <td><a href="{{ path('delliv',{'id': livraison.IdLivraison}) }}"> <button type="button" class="btn btn-primary mr-4" ><font size="3pt" >{% trans %}Delete{% endtrans %}</font></button></a>
                </td>
                </td>
                <td><a href="{{ path('modliv',{'id': livraison.IdLivraison}) }}"> <button type="button" class="btn btn-primary mr-3" ><font size="3pt" >{% trans %}Update{% endtrans %}</font></button></a>
                </td>
            </tr>
        {%endfor%}
                        </tbody>
                      </table>
                       <div>

       
    </div>
     <td><a href="{{path('addliv')}}"> <button type="button" class="btn btn-primary mr-2" ><font size="3pt" >{% trans %}Ajouter{% endtrans %}</font></button></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endblock %}