{% extends 'Bbase.html.twig' %}
{% block body %}
<div class="container-scroller">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        <div class="container-fluid page-body-wrapper">
            {% block navbar %}
                {{ parent() }}
            {% endblock %}
            <div class="main-panel">
                <div class="content-wrapper">
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Ajouter une livraison</h4>
                  
                     {{ form_start(livraison,{attr:{novalidate:'novalidate'}}) }}
                      <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date livraison</label>
                            <div class="col-sm-9">
                              {{form_widget(livraison.Date_livraison, {'attr':{'class': 'form-control'}})}}
                            </div>
                          </div>
                        </div>
                      <div class="row">
                      <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Prix total</label>
                            <div class="col-sm-9">
                               {{form_widget(livraison.prix_total, {'attr':{'class': 'form-control'}})}}
                                {{form_errors(livraison.prix_total, {'attr':{'class': 'text-danger'}})}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mode paiement</label>
                            <div class="col-sm-9">
                              {{form_widget(livraison.mode_paiement, {'attr':{'class': 'form-control'}})}}
                              {{form_errors(livraison.mode_paiement, {'attr':{'class': 'text-danger'}})}}
                            </div>
                          </div>
                        </div>
                        
                      </div>
                     
        
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label"> livreur </label>
                            <div class="col-sm-9">
                              {{form_widget(livraison.Id_livreur, {'attr':{'class': 'form-control'}})}}
                            </div>
                          </div>
                        </div>
                         </div>

                          <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Id commande </label>
                            <div class="col-sm-9">
                              {{form_widget(livraison.Id_commande, {'attr':{'class': 'form-control'}})}}
                            </div>
                          </div>
                        </div>
                        
                      </div>

                       <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Id client </label>
                            <div class="col-sm-9">
                              {{form_widget(livraison.Id_client, {'attr':{'class': 'form-control'}})}}
                            </div>
                          </div>
                        </div>
                        
                      </div>


                      <div class="row">
                       <div class="col-md-4 offset-md-4">
                        <div class="form-group ">
                          <label for="exampleFormControllInput1"> Are you a robot ? </label>
                           {{form_widget(livraison.captchaCode, {'attr':{'class': 'form-control'}})}}
                        </div>
                        </div>
                       </div>




                     {% set formErrors= livraison.vars.errors.form.getErrors(true) %} 
                       {% if formErrors|length %}
                       <div class="alert alert-danger">

                          <u1>
                            {% for error in formErrors %}
                               <li> {{error.message}} </li>
                            {% endfor  %}  
                          </u1> 

                          </div>

                        {% endif  %}   


                      <div>
                     
                     {{ form_widget(livraison.Ajouter, { 'attr': {'class':'btn btn-primary mr-2' }})}}
                      </div>
                   {{form_end(livraison)}}
                   
                  </div>
                </div>
                 </div>
                 </div>
                 </div>
                 </div>
 

    {% endblock %}



    