{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
	<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/img/favicon.png') }}" rel="icon">
	<link href="{{ asset('assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
	<link href="{{ asset('assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/vendor/aos/aos.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/main.js') }}"></script>
	<script src="{{ asset('assets/vendor/purecounter/purecounter.js') }}"></script>
	<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
	<script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>
	<script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
{% endblock %}
{% block body %}
	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top d-flex align-items-center ">
		<div class="container d-flex justify-content-between align-items-center">

			<div class="logo">
				<h1 class="text-light">
					<a href="index.html">
						<span>Moderna</span>
					</a>
				</h1>
				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
			</div>

			<nav id="navbar" class="navbar">
				<ul>
					<li>
						<a class="active" href="index.html" style="text-decoration:none">Home</a>
					</li>
					<li>
						<a class="" href="about.html" style="text-decoration:none">Magasin</a>
					</li>
					<li>
						<a href="services.html" style="text-decoration:none">Boutique</a>
					</li>
					<li>
						<a href="portfolio.html" style="text-decoration:none">Produits</a>
					</li>
					<li>
						<a href="team.html" style="text-decoration:none">Blog</a>
					</li>
					<li>
						<a href="blog.html" style="text-decoration:none">Contact</a>
					</li>
					<li class="dropdown">
						<a href="#" style="text-decoration:none">
							<span>
								{{(app.session.get('user')[0].nom)}}
								{{(app.session.get('user')[0].prenom)}}
							</span>
							<i class="bi bi-chevron-down"></i>
						</a>
						<ul>
							<li><a href="{{ path('Profile') }}" style="text-decoration:none">Profile</a></li>
							<li><a href="{{ path('ConnectForm') }}" style="text-decoration:none">Déconnecter</a></li>
						</ul>
					</li>

				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
			<!-- .navbar -->

		</div>
	</header>
	<!-- End Header -->

	<main id="main">
	{% endblock %}
