{% extends 'Bbase.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <div class="container-scroller">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        <div class="container-fluid page-body-wrapper">
            {% block navbar %}
                {{ parent() }}
            {% endblock %}
            <div class="main-panel">
                <div class="content-wrapper">
                    <h1>Commentaire</h1>

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ commentaire.id }}</td>
                        </tr>
                        <tr>
                            <th>IdPost</th>
                            <td>{{ commentaire.idpost }}</td>
                        </tr>
                        <tr>
                            <th>Userid</th>
                            <td>{{ commentaire.userid }}</td>
                        </tr>
                        <tr>
                            <th>Commentateur</th>
                            <td>{{ commentaire.commentateur }}</td>
                        </tr>
                        <tr>
                            <th>Contenu</th>
                            <td>{{ commentaire.contenu }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('app_commentaire_index') }}">back to list</a>

                    <a href="{{ path('app_commentaire_edit', {'id': commentaire.id}) }}">edit</a>

                    {{ include('commentaire/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
