
{% extends 'Bbase.html.twig' %}
{% block body %}
<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">la liste des depots</h4>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                              <th>id depot</th>
                              <th>Adresse</th>
                              <th>Quantite</th>
                              <th>Disponibilite</th>
                               <th>Id produit</th>
                               <th>Id livraison</th>
                          </tr>
                        </thead>
                        <tbody>
                          </tr>
        {% for depot in depots  %}
            <tr>
                <td>
                   {{ depot.IdDepot }}
                </td>
                <td>
                  {{ depot.Adresse }}
                </td>
                <td>
              {{ depot.Quantite }}
                </td>
<td>
{{ depot.Disponibilite }}
</td>
                <td>
             {{ depot.IdProduit }}
                </td>

                 <td>
             {{ depot.IdLivraison }}
                </td>
            
                <td><a href="{{ path('deldep',{'id': depot.IdDepot}) }}"> <button type="button" class="btn btn-primary mr-4" ><font size="3pt" >{% trans %}Delete{% endtrans %}</font></button></a>
                </td>
                </td>
                <td><a href="{{ path('moddep',{'id': depot.IdDepot}) }}"> <button type="button" class="btn btn-primary mr-4" ><font size="3pt" >{% trans %}Update{% endtrans %}</font></button></a>
                </td>
            </tr>
        {%endfor%}
                        </tbody>
                      </table>
                      <div>

        <td><a href="{{path('adddepot')}}"> <button type="button" class="btn btn-primary mr-4" ><font size="3pt" >{% trans %}Ajouter{% endtrans %}</font></button></a>
    </div>
                    </div>
                  </div>
                </div>
              </div>
 {% endblock %}