{% extends 'Bbase.html.twig' %}
{% block body %}

<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Ajouter un Depot</h4>
                  
                     {{ form_start(depot, {attr:{novalidate:'novalidate'}}) }}
                      <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Adresse</label>
                            <div class="col-sm-9">
                              {{form_widget(depot.adresse, {'attr':{'class': 'form-control'}})}}
                               {{form_errors(depot.adresse, {'attr':{'class': 'text-danger'}})}}
                            </div>
                          </div>
                        </div>
                      <div class="row">
                      <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Quantite</label>
                            <div class="col-sm-9">
                               {{form_widget(depot.quantite, {'attr':{'class': 'form-control'}})}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Disponibilite</label>
                            <div class="col-sm-9">
                              {{form_widget(depot.disponibilite, {'attr':{'class': 'form-control'}})}}
                               {{form_errors(depot.disponibilite, {'attr':{'class': 'text-danger'}})}}
                            </div>
                          </div>
                        </div>
                        
                      </div>
                     
        
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Id produit </label>
                            <div class="col-sm-9">
                              {{form_widget(depot.Id_produit, {'attr':{'class': 'form-control'}})}}
                            </div>
                          </div>
                        </div>
                         </div>

                          <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Id livraison </label>
                            <div class="col-sm-9">
                              {{form_widget(depot.Id_livraison, {'attr':{'class': 'form-control'}})}}
                            </div>
                          </div>
                        </div>
                        
                      </div>

                       
                        

                      <div>
                     
                     {{ form_widget(depot.Ajouter, { 'attr': {'class':'btn btn-primary mr-2' }})}}
                      </div>
                   {{form_end(depot)}}
                   
                  </div>
                </div>
    {% endblock %}