{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    {% block navBar %}
        {{ parent() }}
    {% endblock %}
    <main id="main">
        <section class="breadcrumbs">
            <div class="container">
                <div>
                    <h2>Blog</h2>
                    {%  for message in app.flashes ('info')  %}
                        <div class= "alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <ol>
                        <li>Acceuil</li>
                        <li>Blog</li>
                        <li>Mes Blogs</li>
                    </ol>
                </div>
            </div>
        </section>

        <section class="team" data-aos-easing="ease-in-out" data-aos-duration="500">
            <div class="container">
                <div>
                    <a href="{{ path('app_postFront_index') }}" class="btn customBtn animate__animated animate__fadeInUp">Retourner a Blogs</a>
                    <span class="float-end"><a href="{{ path('app_postFront_new', {'idU': idU}) }}" class="btn customBtn animate__animated animate__fadeInUp"><i class="bi bi-plus-circle"></i> Ajouter un Post</a></span>
                </div>
                <br>
                <div class="row">
                    {% for post in posts %}
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch animate__animated animate__fadeInUp">
                            <div class="member">
                                <div class="member-img">
                                    <img src="{{ asset('uploads/posts/' ~ post.image) }}" class="img-fluid" alt="">
                                    <div class="social">
                                        <a href="{{ path('app_postFront_show', {'id': post.id, 'idU': idU}) }}"><i class="bi bi-eye-fill"></i></a>
                                        <a href="{{ path('app_postFront_edit', {'id': post.id, 'idU': idU}) }}"><i class="bi bi-pencil-fill"></i></a>
                                        <form method="post" action="{{ path('app_postFront_delete', {'id': post.id, 'idU': idU}) }}" onsubmit="return confirm('Vous voulez supprimer cette post?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                                            <button class="transparentBtn"><i class="bi bi-trash-fill"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>{{ post.titre }}</h4>
                                    <span><i class="bi bi-clock"></i>{{ post.datecreation ? post.datecreation|date('d-m-Y') : '' }}</span>
                                    <p>{{ post.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}