{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    {% block navBar %}
        {{ parent() }}
    {% endblock %}
    <main id="main">
        <section class="breadcrumbs">
            <div class="container">
                <div>
                    <h2>Blog</h2>
                    <ol>
                        <li>Acceuil</li>
                        <li>Blog</li>
                    </ol>
                </div>
            </div>
        </section>

        <section id="blog" class="blog">
            <div class="container">
                <div class="d-flex flex-row-reverse">
                    <a href="{{ path('app_postFront_MesBlogs', {'id': 1}) }}" class="btn customBtn animate__animated animate__fadeInUp p-2">Mes Blogs</a>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-lg-8 entries">
                        {% for post in posts %}
                        <article class="entry animate__animated animate__fadeInUp">
                            <div class="entry-img">
                                <img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="" class="img-fluid rounded mx-auto d-block" >
                            </div>
                            <h2 class="entry-title">
                               {{ post.titre }}
                            </h2>
                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i>Admin</li>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i>{{ post.datecreation ? post.datecreation|date('d-m-Y') : '' }}</li>
                                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>X Commentaires</li>
                                </ul>
                            </div>
                            <div class="entry-content">
                                <p>
                                {{ post.description }}
                                </p>
                                <div class="read-more">
                                    <a href="{{ path('app_postFront_show', {'id': post.id}) }}">LIRE LA SUITE...</a>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}